<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Flat Number</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aparmtent of apartments">
                <td>{{ aparmtent.appartmentId }}</td>
                <td>{{ aparmtent.appartmentName }}</td>
                <td>{{ aparmtent.flatNo }}</td>
                <td>{{ aparmtent.contactNo }}</td>
                <td><a href="mailto:{{ aparmtent.mailId }}">{{ aparmtent.mailId }}</a></td>
                <td><button (click)="update(aparmtent)">Edit</button></td>
                <td><button (click)="delete(aparmtent.appartmentId)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>    
</body>
</html>

